
  <body style="background-color:powderblue">
    <h1 style="font-family:courier">This is the about page</h1>
    <p>This page displays information about this website</p>
  </body>


<%= link_to 'home', root_path %>
